<a href="https://colab.research.google.com/github/JoshuaHaga/DS-Unit-1-Sprint-2-Statistics/blob/master/DS_Unit_1_Sprint_Challenge_2_Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Unit 1 Sprint Challenge 2

## Exploring Data, Testing Hypotheses

In this sprint challenge you will look at a dataset of Echocardiograms

<https://archive.ics.uci.edu/ml/datasets/Echocardiogram>

Attribute Information:

1. survival -- the number of months patient survived (has survived, if patient is still alive). Because all the patients had their heart attacks at different times, it is possible that some patients have survived less than one year but they are still alive. Check the second variable to confirm this. Such patients cannot be used for the prediction task mentioned above.
2. still-alive -- a binary variable. 0=dead at end of survival period, 1 means still alive
3. age-at-heart-attack -- age in years when heart attack occurred
4. pericardial-effusion -- binary. Pericardial effusion is fluid around the heart. 0=no fluid, 1=fluid
5. fractional-shortening -- a measure of contracility around the heart lower numbers are increasingly abnormal
6. epss -- E-point septal separation, another measure of contractility. Larger numbers are increasingly abnormal.
7. lvdd -- left ventricular end-diastolic dimension. This is a measure of the size of the heart at end-diastole. Large hearts tend to be sick hearts.
8. wall-motion-score -- a measure of how the segments of the left ventricle are moving
9. wall-motion-index -- equals wall-motion-score divided by number of segments seen. Usually 12-13 segments are seen in an echocardiogram. Use this variable INSTEAD of the wall motion score.
10. mult -- a derivate var which can be ignored
11. name -- the name of the patient (I have replaced them with "name")
12. group -- meaningless, ignore it
13. alive-at-1 -- Boolean-valued. Derived from the first two attributes. 0 means patient was either dead after 1 year or had been followed for less than 1 year. 1 means patient was alive at 1 year.

Sprint challenges are evaluated based on satisfactory completion of each part. It is suggested you work through it in order, getting each aspect reasonably working, before trying to deeply explore, iterate, or refine any given step. Once you get to the end, if you want to go back and improve things, go for it!

## Part 1 - Load and validate the data

- Load the data as a `pandas` data frame.
- Validate that it has the appropriate number of observations (you can check the raw file, and also read the dataset description from UCI).
- UCI says there should be missing data - check, and if necessary change the data so pandas recognizes it as na
- Make sure that the loaded features are of the types described above (continuous values should be treated as float), and correct as necessary

This is review, but skills that you'll use at the start of any data exploration. Further, you may have to do some investigation to figure out which file to load from - that is part of the puzzle.

In [1]:

from scipy.stats import ttest_ind, ttest_1samp
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import scipy.stats as stats

In [80]:
headers = ['survival', 'still-alive', 'age-at-heart-attack','pericardial-effusion',' fractional-shortening','epss','lvdd',
           'wall-motion-score','all-motion-index','mult','name','group','alive-at-1']

In [97]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/echocardiogram/echocardiogram.data',names=headers,error_bad_lines=False,sep=',', na_values='?')
df.head()

   survival  still-alive  age-at-heart-attack  ...  name  group  alive-at-1
0      11.0          0.0                 71.0  ...  name      1         0.0
1      19.0          0.0                 72.0  ...  name      1         0.0
2      16.0          0.0                 55.0  ...  name      1         0.0
3      57.0          0.0                 60.0  ...  name      1         0.0
4      19.0          1.0                 57.0  ...  name      1         0.0

[5 rows x 13 columns]

In [98]:
df.isnull().sum()

survival                   2
still-alive                1
age-at-heart-attack        6
pericardial-effusion       0
 fractional-shortening     8
epss                      15
lvdd                      11
wall-motion-score          4
all-motion-index           2
mult                       3
name                       1
group                     22
alive-at-1                57
dtype: int64

## Part 2 - Exploring data, Testing hypotheses

The only thing we really know about this data is that Alive-at-1 is the class label. Besides that, we have continuous features and categorical features.

Explore the data: you can use whatever approach (tables, utility functions, visualizations) to get an impression of the distributions and relationships of the variables. In general, your goal is to understand how the features are different when grouped by the two class labels (`1` and `0`).

For the continuous features, how are they different when split between the two class labels? Choose two features to run t-tests (again split by class label) - specifically, select one feature that is *extremely* different between the classes, and another feature that is notably less different (though perhaps still "statistically significantly" different). You may have to explore more than two features to do this.

For the categorical features, explore by creating "cross tabs" (aka [contingency tables](https://en.wikipedia.org/wiki/Contingency_table)) between them and the class label, and apply the Chi-squared test to them. [pandas.crosstab](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html) can create contingency tables, and [scipy.stats.chi2_contingency](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) can calculate the Chi-squared statistic for them.

There are also categorical features - as with the t-test, try to find one where the Chi-squared test returns an extreme result (rejecting the null that the data are independent), and one where it is less extreme.

**NOTE** - "less extreme" just means smaller test statistic/larger p-value. Even the least extreme differences may be strongly statistically significant.

Your *main* goal is the hypothesis tests, so don't spend too much time on the exploration/visualization piece. That is just a means to an end - use simple visualizations, such as boxplots or a scatter matrix (both built in to pandas), to get a feel for the overall distribution of the variables.

This is challenging, so manage your time and aim for a baseline of at least running two t-tests and two Chi-squared tests before polishing. And don't forget to answer the questions in part 3, even if your results in this part aren't what you want them to be.

In [102]:
# TODO
df_alive_at_1 = df[df['alive-at-1']==1]
df_dead_at_1 = df[df['alive-at-1']==0]

In [103]:
df_dead_at_1.head(5)

   survival  still-alive  age-at-heart-attack  ...  name  group  alive-at-1
0      11.0          0.0                 71.0  ...  name      1         0.0
1      19.0          0.0                 72.0  ...  name      1         0.0
2      16.0          0.0                 55.0  ...  name      1         0.0
3      57.0          0.0                 60.0  ...  name      1         0.0
4      19.0          1.0                 57.0  ...  name      1         0.0

[5 rows x 13 columns]

In [105]:
df_alive_at_1.head(5)

    survival  still-alive  age-at-heart-attack  ...  name  group  alive-at-1
10      10.0          1.0               77.000  ...  name      1         1.0
14       0.5          1.0               62.000  ...  name      1         1.0
16       0.5          1.0               69.000  ...  name      1         1.0
17       0.5          1.0               62.529  ...  name      1         1.0
19       1.0          1.0               66.000  ...  name      1         1.0

[5 rows x 13 columns]

In [107]:
pop_mean = df['age-at-heart-attack'].mean()
pop_mean

62.813722222222225

In [112]:
alive_1_mean = df_alive_at_1['age-at-heart-attack'].mean()
alive_1_mean

67.45778260869565

In [113]:
dead_1_mean = df_dead_at_1['age-at-heart-attack'].mean()
dead_1_mean

62.92

In [115]:
#is there a statistical difference of age-at-heart-attack between those who survived and those who did not? 
#null hypothesis - the ages of survivors is the same as those who did not

t_deadalive = ttest_ind(df_alive_at_1['age-at-heart-attack'],df_dead_at_1['age-at-heart-attack'], nan_policy='omit' )

In [116]:
t_deadalive

Ttest_indResult(statistic=2.2165294422402875, pvalue=0.02986013147831115)

In [127]:
#the age at heart attack is higher in those that survived one year
ttest_ind(df_alive_at_1['age-at-heart-attack'],df['age-at-heart-attack'], nan_policy='omit' )

Ttest_indResult(statistic=2.4526131405243885, pvalue=0.015352639239791651)

## Part 3 - Analysis and Interpretation

Now that you've looked at the data, answer the following questions:

- Interpret and explain the two t-tests you ran - what do they tell you about the relationships between the continuous features you selected and the class labels?
- Interpret and explain the two Chi-squared tests you ran - what do they tell you about the relationships between the categorical features you selected and the class labels?
- What was the most challenging part of this sprint challenge?

Answer with text, but feel free to intersperse example code/results or refer to it from earlier.

*Your words here!*

## Part 4 - Bayesian vs Frequentist Statistics

Using a minimum of 2-3 sentences, give an explanation of Bayesian and Frequentist statistics, and then compare and contrast these two approaches to statistical inference.

*Your words here!*

# Stretch Goals: 
Do these to get a 3. These are not required in order to pass the Sprint Challenge.

## Part 1: 

Make sure that all of your dataframe columns have the appropriate data types. *Hint:* If a column has the datatype of "object" even though it's made up of float or integer values, you can coerce it to act as a numeric column by using the `pd.to_numeric()` function. In order to get a 3 on this section make sure that your data exploration is particularly well commented, easy to follow, and thorough.

## Part 2:

Write functions that can calculate t-tests and chi^2 tests on all of the appropriate column combinations from the dataset. (Remember that certain tests require certain variable types.)

## Part 3: 

Calculate and report confidence intervals on your most important mean estimates (choose at least two). Make some kind of a graphic or visualization to help us see visually how precise these estimates are.

## Part 4:

Give an extra awesome explanation of Bayesian vs Frequentist Statistics. Maybe use code or visualizations, or any other means necessary to show an above average grasp of these high level concepts.

In [ ]:
# You can work the stretch goals down here or back up in their regular sections
# just make sure that they are labeled so that we can easily differentiate
# your main work from the stretch goals.